.input-group__input {
  padding: 11px 11px 10px 12px;
  height: 36px;
  border-radius: 4px;
  background-color: var(--color-bg-base);
  border: 2px solid var(--color-border-input);
  align-self: stretch;
  color: var(--color-font-base);
  font-size: var(--size-text-m);
  box-sizing: border-box;
  margin-top: 7px;
  font-family: var(--font-base);
}

.input-group__input:focus {
  border-color: var(--color-border-control-focused);
  outline: none;
}

.input-group__input::placeholder {
  color: var(--color-border-input);
}
