@import "../../theme/_braikpoint/theme_brakepoint_default.scss";

.footer__copyright {
  color: var(--color-font-secondary);
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-xs);
  letter-spacing: 0.06px;
  flex-shrink: 0;
}

@media screen and (max-width: $screen-s) {
  .footer__copyright {
    margin-top: 8px;
    line-height: 18px;
  }
}
