.card_view_high {
  // height: 101px;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  cursor: default;
}

.card_view_high:hover {
  box-shadow: var(--box-shadow);
}
