<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>CI</title>
</head>

<body>
  <div class="page theme theme_color_default theme_font_default theme_size_default">
    <div class="layout">
      <div class="layout__container">
        <div class="header">
          <h1 class="header__title header__title_color_secondary">
            School CI server
          </h1>
          <div class="header__btn-group">
          </div>
        </div>

        <div class="section">
          <div class="heading">
            <h2 class="heading__title">
              Settings
            </h2>
            <div class="heading__subtitle">
              Configure repository connection and synchronization settings.
            </div>
          </div>

          <form class="form">
            <div class="form__field-group">
              <div class="input-group input-group_type_base form__field form__feild_base">
                <label class="input-group__label input-group__label_required">GitHub repository</label>
                <input type="text" class="input-group__input input-group__input_with-cleaner"
                  placeholder="user-name/repo-name">
                <span class="input-group__cleaner-icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8 16C3.6 16 0 12.4 0 8C0 3.6 3.6 0 8 0C12.4 0 16 3.6 16 8C16 12.4 12.4 16 8 16ZM12 5.12L10.88 4L8 6.88L5.12 4L4 5.12L6.88 8L4 10.88L5.12 12L8 9.12L10.88 12L12 10.88L9.12 8L12 5.12Z"
                      fill="#CCCCCC" />
                  </svg>
                </span>
              </div>

              <div class="input-group input-group_type_base form__field form__feild_base">
                <label class="input-group__label">Build command</label>
                <input type="text" class="input-group__input input-group__input_with-cleaner"
                  placeholder="npm run build" value="npm ci && npm run build">
                <span class="input-group__cleaner-icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8 16C3.6 16 0 12.4 0 8C0 3.6 3.6 0 8 0C12.4 0 16 3.6 16 8C16 12.4 12.4 16 8 16ZM12 5.12L10.88 4L8 6.88L5.12 4L4 5.12L6.88 8L4 10.88L5.12 12L8 9.12L10.88 12L12 10.88L9.12 8L12 5.12Z"
                      fill="#CCCCCC" />
                  </svg>
                </span>
              </div>

              <div class="input-group input-group_type_base form__field form__feild_base">
                <label class="input-group__label">Main branch</label>
                <input type="text" class="input-group__input input-group__input_with-cleaner" placeholder="master"
                  value="master |">
                <span class="input-group__cleaner-icon">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8 16C3.6 16 0 12.4 0 8C0 3.6 3.6 0 8 0C12.4 0 16 3.6 16 8C16 12.4 12.4 16 8 16ZM12 5.12L10.88 4L8 6.88L5.12 4L4 5.12L6.88 8L4 10.88L5.12 12L8 9.12L10.88 12L12 10.88L9.12 8L12 5.12Z"
                      fill="#CCCCCC" />
                  </svg>
                </span>
              </div>

              <div class="input-group input-group_type_with-value form__field form__field_with-value">
                <label class="input-group__label">Synchronize every</label>
                <input type="text" class="input-group__input input-group__input_with-value" placeholder="" value="10">
                <span class="input-group__value">minutes</span>
              </div>
            </div>

            <div class="button-group">
              <button type="button"
                class="button button_type_form-control button_width-screen-s_full button_tone_action button-group__item">
                <span class="button__text">Save</span>
              </button>
              <button type="button"
                class="button button_type_form-control button_width-screen-s_full button_tone_control button-group__item">
                <span class="button__text">Cancel</span>
              </button>
            </div>
          </form>
        </div>

        <div class="footer">
          <div class="footer__link-group">
            <a href="#" class="footer__link">Support</a>
            <a href="#" class="footer__link">Learning</a>
          </div>
          <div class="footer__copyright">
            ©&nbsp;2020&nbsp;Your&nbsp;Name
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>