.log-screen {
  border-radius: 6px;
  background-color: var(--color-bg-disabled);
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 8px 12px;
  text-align: left;
  font-size: var(--size-text-s);
  line-height: var(--line-height-text-l);
}
