.button {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--size-text-m);
  color: var(--color-font-base);
  text-decoration: none; }

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 68px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 6px;
  background-color: var(--color-bg-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px 0 56px;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }

.card:hover {
  -webkit-box-shadow: var(--box-shadow-hovered);
          box-shadow: var(--box-shadow-hovered); }

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer {
  height: 32px;
  padding: 0 100px;
  background-color: var(--color-bg-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto; }

.form {
  width: 100%;
  max-width: 474px; }

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 100px; }


.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }


.history {
  margin: 8px 0 20px 0; }

.log-screen {
  border-radius: 6px;
  background-color: var(--color-bg-disabled);
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 8px 12px;
  text-align: left;
  font-size: var(--size-text-s);
  line-height: var(--line-height-text-l); }

.meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section {
  padding: 0 100px; }

.status {
  color: var(--color-font-base); }

.start-panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 264px;
  height: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 13px 26px 25px 26px; }

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"), url("//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2") format("woff2"), url("//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2") format("woff2"), url("//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0; }

.theme {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-bg-default);
  border-color: var(--color-bg-border);
  color: var(--color-font-primary);
  font-size: var(--size-text-base); }

.button_tone_action {
  background-color: var(--color-bg-action);
  border: 2px solid var(--color-bg-action); }

.button_tone_action:hover {
  background-color: var(--color-bg-action-hovered);
  border: 2px solid var(--color-bg-action-hovered); }

.button_tone_action:focus {
  border: 2px solid var(--color-border-action-focused);
  outline: none; }

.button_tone_control {
  background-color: var(--color-bg-control);
  border: 2px solid var(--color-bg-control); }

.button_tone_control:hover {
  background-color: var(--color-bg-control-hovered);
  border: 2px solid var(--color-bg-control-hovered); }

.button_tone_control:focus {
  border: 2px solid var(--color-border-control-focused);
  outline: none; }

.button_tone_disabled {
  background-color: var(--color-bg-disabled); }

.button_type_form-control {
  height: 36px;
  padding: 0 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.button_type_icon-text {
  height: 28px;
  padding: 0 13px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.button_type_icon {
  height: 28px;
  width: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.button_type_text {
  height: 28px;
  padding: 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.button__icon {
  width: 23px;
  display: inline-block; }

.button__text {
  display: inline-block; }

.card_type_error::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.34375C6.11328 1.34375 1.34375 6.11328 1.34375 12C1.34375 17.8867 6.11328 22.6562 12 22.6562C17.8867 22.6562 22.6562 17.8867 22.6562 12C22.6562 6.11328 17.8867 1.34375 12 1.34375ZM17.225 14.7973C17.427 14.9992 17.427 15.3258 17.225 15.5277L15.5234 17.225C15.3215 17.427 14.9949 17.427 14.793 17.225L12 14.4062L9.20273 17.225C9.00078 17.427 8.67422 17.427 8.47227 17.225L6.775 15.5234C6.57305 15.3215 6.57305 14.9949 6.775 14.793L9.59375 12L6.775 9.20273C6.57305 9.00078 6.57305 8.67422 6.775 8.47227L8.47656 6.7707C8.67852 6.56875 9.00508 6.56875 9.20703 6.7707L12 9.59375L14.7973 6.775C14.9992 6.57305 15.3258 6.57305 15.5277 6.775L17.2293 8.47656C17.4312 8.67852 17.4312 9.00508 17.2293 9.20703L14.4062 12L17.225 14.7973Z' fill='%23FF3333'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 13px;
  left: 25px; }

.card_type_success::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6562 12C22.6562 17.8853 17.8853 22.6562 12 22.6562C6.1147 22.6562 1.34375 17.8853 1.34375 12C1.34375 6.1147 6.1147 1.34375 12 1.34375C17.8853 1.34375 22.6562 6.1147 22.6562 12ZM10.7674 17.6424L18.6736 9.73615C18.9421 9.46768 18.9421 9.03236 18.6736 8.76389L17.7014 7.79164C17.4329 7.52313 16.9976 7.52313 16.7291 7.79164L10.2812 14.2394L7.2709 11.2291C7.00243 10.9606 6.56712 10.9606 6.29861 11.2291L5.32635 12.2014C5.05788 12.4698 5.05788 12.9051 5.32635 13.1736L9.7951 17.6424C10.0636 17.9109 10.4989 17.9109 10.7674 17.6424Z' fill='%2300B341'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 13px;
  left: 25px; }

.card_type_warning::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1C5.92339 1 1 5.92339 1 12C1 18.0766 5.92339 23 12 23C18.0766 23 23 18.0766 23 12C23 5.92339 18.0766 1 12 1ZM16.1024 14.8831L15.2153 15.9919C15.1571 16.0647 15.0851 16.1253 15.0034 16.1703C14.9218 16.2153 14.8321 16.2437 14.7395 16.254C14.6468 16.2643 14.5531 16.2562 14.4636 16.2303C14.3741 16.2044 14.2905 16.161 14.2177 16.1028L11.246 13.8975C11.0383 13.7313 10.8707 13.5204 10.7556 13.2807C10.6404 13.0409 10.5806 12.7783 10.5806 12.5123V5.6129C10.5806 5.42469 10.6554 5.24418 10.7885 5.11109C10.9216 4.978 11.1021 4.90323 11.2903 4.90323H12.7097C12.8979 4.90323 13.0784 4.978 13.2115 5.11109C13.3446 5.24418 13.4194 5.42469 13.4194 5.6129V12L15.9919 13.8851C16.0647 13.9433 16.1254 14.0154 16.1703 14.0971C16.2153 14.1787 16.2437 14.2685 16.254 14.3612C16.2642 14.4539 16.2561 14.5477 16.2301 14.6372C16.2041 14.7268 16.1607 14.8103 16.1024 14.8831Z' fill='%23FF9A00'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 13px;
  left: 25px; }

.card_view_high {
  height: 101px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: default; }

.card_view_high:hover {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow); }


.card__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card__time {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card__subtitle-item {
  margin-left: 8px; }

.card__subtitle-item:first-child {
  margin-left: 0; }

.card__title {
  margin-bottom: 8px; }

.button-group__item:last-child {
  margin-left: 8px; }

.footer__copyright {
  color: var(--color-font-secondary);
  font-size: var(--size-text-m); }

.footer__link {
  color: var(--color-font-secondary);
  font-size: var(--size-text-m);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin-right: 12px; }

.footer__link:last-child {
  margin-right: 0; }

.footer__link:hover {
  color: var(--color-error); }

.footer__link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }


.form__field-group {
  padding: 12px 0; }

.header__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.header__title {
  font-size: var(--size-text-3xl);
  font-weight: 500;
  margin: 0; }

.header__button {
  margin-right: 8px; }

.header__button:last-child {
  margin-right: 0; }

.heading__subtitle {
  color: var(--color-font-secondary);
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-m); }

.heading__title {
  font-weight: 700;
  font-size: var(--size-text-l);
  line-height: var(--line-height-text-s);
  margin: 8px 0; }

.input-group_type_base {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.input-group_type_with-value {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.input-group__cleaner-icon {
  position: absolute;
  right: 10px;
  top: 43px;
  z-index: 10;
  cursor: pointer;
  display: none; }

.input-group__input_with-cleaner:not(:placeholder-shown) ~ .input-group__cleaner-icon {
  display: block; }

.input-group__input {
  padding: 11px 13px 10px;
  height: 36px;
  border-radius: 4px;
  background-color: var(--color-bg-base);
  border: 2px solid var(--color-border-input);
  -ms-flex-item-align: stretch;
      align-self: stretch;
  color: var(--color-font-base);
  font-size: var(--size-text-m);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 8px; }

.input-group__input:focus {
  border-color: var(--color-border-control-focused);
  outline: none; }

.input-group__input::-webkit-input-placeholder {
  color: var(--color-border-input); }

.input-group__input::-moz-placeholder {
  color: var(--color-border-input); }

.input-group__input:-ms-input-placeholder {
  color: var(--color-border-input); }

.input-group__input::-ms-input-placeholder {
  color: var(--color-border-input); }

.input-group__input::placeholder {
  color: var(--color-border-input); }

.input-group__label {
  font-size: var(--size-text-m);
  position: relative; }

.input-group__value {
  font-size: var(--size-text-m);
  color: var(--color-font-sub); }

.layout__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative; }

.history__item {
  margin-bottom: 8px; }

.history__item:last-child {
  margin-bottom: 0; }

.meta__icon {
  opacity: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.meta__text {
  margin-left: 4px;
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-xs); }

.section_content-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.status__comment {
  font-size: var(--size-text-l); }

.status__number {
  font-size: var(--size-text-2xl);
  font-weight: 500; }

.start-panel__text {
  text-align: center;
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-xs);
  margin-bottom: 24px;
  margin-top: auto; }

.theme_color_default {
  --color-bg-base: #ffffff;
  --color-bg-dark: #f0f2f3;
  --color-bg-action: #ffcc00;
  --color-bg-action-hovered: #f2c200;
  --color-bg-control: #e6e6e6;
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-disabled: #f2f2f2;
  --color-border-action-focused: #b38f00;
  --color-border-input: #d9d9d9;
  --color-border-control-focused: #b3b3b3;
  --box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --box-shadow-hovered: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --color-font-base: #000000;
  --color-font-secondary: #7f8285;
  --color-font-sub: #434445;
  --color-success: #00b341;
  --color-error: #ff3333;
  --color-warning: #ff9a00; }

.theme_font_default {
  --font-base: "YS Text", Arial, sans-serif;
  font-family: var(--font-base); }

:root {
  --size-text-base: 10px; }

.theme_size_default {
  --size-text-s: 1em;
  --size-text-m: 1.3em;
  --size-text-l: 1.5em;
  --size-text-xl: 1.6em;
  --size-text-2xl: 1.8em;
  --size-text-3xl: 2.4em;
  --line-height-text-xs: 1.25em;
  --line-height-text-s: 1.35em;
  --line-height-text-m: 1.4em;
  --line-height-text-l: 2em; }

.card__time_position_bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid var(--color-bg-dark);
  padding-top: 8px;
  margin-top: 8px; }

.card__time_position_bottom > :last-child {
  margin-left: 8px; }

.form__feild_base {
  padding: 10px 0 8px; }

.form__field_with-value {
  padding: 12px 0; }

.header__title_color_base {
  color: var(--color-font-base); }

.header__title_color_secondary {
  color: var(--color-font-secondary); }


.input-group__input_with-value {
  width: 52px;
  text-align: right;
  margin: 0 8px; }

.input-group__label_required::after {
  content: "*";
  position: absolute;
  top: 0;
  right: -8px;
  color: var(--color-error); }

.meta__text_secondary {
  opacity: 0.65; }

.status__number_view_error {
  color: var(--color-error); }

.status__number_view_success {
  color: var(--color-success); }

.status__number_view_warning {
  color: var(--color-warning); }
