.footer__link {
  color: var(--color-font-secondary);
  font-size: 13px;
  text-decoration: none;
  transition: color 0.2s;
  margin-right: 12px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  color: var(--color-error);
}
