:root {
  --size-text-base: 10px;
}

.theme_size_default {
  --size-text-s: 1em;
  --size-text-m: 1.3em;
  --size-text-l: 1.5em;
  --size-text-xl: 1.6em;
  --size-text-2xl: 1.8em;
  --size-text-3xl: 2.4em;

  --line-height-text-xs: 1.25em;
  --line-height-text-s: 1.35em;
  --line-height-text-m: 1.4em;
  --line-height-text-l: 2em;
}
