:root {
  --size-text-base: 10px;
}

.theme_size_default {
  --size-text-s: 1em;
  --size-text-m: 1.3em;
  --size-text-l: 1.5em;
  --size-text-xl: 1.6em;
  --size-text-2xl: 1.8em;
  --size-text-3xl: 2.4em;
}
