@import "../../theme/_braikpoint/theme_brakepoint_default.scss";

.button_type_text {
  height: 28px;
  line-height: 28px;
  padding: 0 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button.button_type_text {
  line-height: 24px;
}

@media screen and (max-width: $screen-s) {
  .button_type_text {
    height: 36px;
    line-height: 36px;
    justify-content: center;
    padding: 0;
  }

  button.button_type_text {
    line-height: 32px;
  }
}
