@import "../../theme/_braikpoint/theme_brakepoint_default.scss";

.button_type_icon-text {
  height: 28px;
  line-height: 28px;
  padding: 0 11px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button.button_type_icon-text {
  line-height: 24px;
}

@media screen and (max-width: $screen-s) {
  .button_type_icon-text .button__text {
    display: none;
  }
}
